.two-column-block {
    background-color:$background;
}

.img3{
    background-image: url('../../../public/images/girl-in-kayak-in-mountain-lake.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position-x:center;
    height: 250px;
}