.two-column-icon-block {
    background-color: $background-contrast;
}

.img1{
    background-image: url('../../../public/images/boys-on-hill.jpg');
    background-size: contain;
    background-repeat:no-repeat;
    background-position-x:center;
    height: 250px;
}

.img2{
    background-image: url('../../../public/images/icon_lockup.png');
    background-size: contain;
    background-repeat:no-repeat;
    background-position-x:center;
    height: 100px;
    margin-bottom: 5%;
}