@import url(https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700);
.ban-text, h2, h1 {
  font-family: "Roboto", sans-serif;
  color: #f1ba00;
  text-transform: uppercase;
  padding-left: 8%;
}
@media (max-width: 575px) {
  .ban-text, h2, h1 {
    padding-left: 0;
    text-align: center;
  }
}

h1 {
  font-size: 5em;
  line-height: 0.7em;
}

h2 {
  font-size: 3em;
  padding-top: 50px;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #0c023f;
  font-size: 2.3em;
  text-transform: uppercase;
  line-height: 0.5em;
}
@media (max-width: 575px) {
  h3 {
    font-size: 2em;
    line-height: 1em;
  }
}

p {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 0.8em;
  text-align: left;
  line-height: 1.2em;
}

hr {
  width: 30%;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0c023f;
}

#app {
  padding: 0;
}

.block {
  width: 100%;
  padding: 2.5rem 0;
}

.text-block {
  padding-left: 15%;
  padding-right: 15%;
}
@media (max-width: 575px) {
  .text-block {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.card {
  border: none;
}

@media (min-width: 575px) {
  .col-left {
    margin-right: 15px;
  }
}

@media (min-width: 575px) {
  .col-right {
    margin-left: 15px;
  }
}

nav {
  background-color: #0c023f;
}

.banner-block {
  background-color: lightgrey;
  background-image: linear-gradient(to right, rgba(41, 27, 11, 0.593), rgba(41, 27, 11, 0.233)), url(/images/mountain-on-horizon.jpg?54abbd39d1593c286aeba92fc78cb567);
  background-size: cover;
  background-position-y: center;
  height: 300px;
}
@media (max-width: 575px) {
  .banner-block {
    background-size: auto;
    background-position-x: center;
  }
}

.one-column-block {
  background-color: white;
}

.two-column-icon-block {
  background-color: lightgrey;
}

.two-column-block {
  background-color: white;
}

.img3 {
  background-image: url(/images/girl-in-kayak-in-mountain-lake.jpg?28aef65233684be05ce5bb7c4f4ca411);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 250px;
}
