@import url(https://fonts.googleapis.com/css2?family=Lato&family=Roboto:wght@700);
.gold-text, h6, h5, h4, .headline, h2, h1 {
  font-family: "Roboto", sans-serif;
  color: #f1ba00;
  text-transform: uppercase;
  padding-left: 4rem;
}
@media (max-width: 575px) {
  .gold-text, h6, h5, h4, .headline, h2, h1 {
    padding-left: 1rem;
  }
}

@media (max-width: 575px) {
  .headline, h2, h1 {
    padding-left: 0;
    text-align: center;
  }
}

h1 {
  font-size: 5em;
  line-height: 0.7em;
}

h2 {
  font-size: 3em;
  padding-top: 50px;
}

h3 {
  font-family: "Roboto", sans-serif;
  color: #0c023f;
  font-size: 2.3em;
  text-transform: uppercase;
  line-height: 0.5em;
}
@media (max-width: 675px) {
  h3 {
    font-size: 2em;
    line-height: 1em;
  }
}

h4 {
  font-size: 2em;
  line-height: 0.7em;
}

h5 {
  font-size: 1.1em;
  line-height: 0.5em;
}

h6 {
  font-size: 0.8em;
  text-align: center;
  padding: 0 2rem;
}

.hidden-link h6 {
  color: #0c023f;
  text-align: right;
  font-size: 1.3em;
  line-height: 1.6em;
}

p {
  font-family: "Lato", sans-serif;
  color: black;
  font-size: 0.8em;
  text-align: left;
  line-height: 1.2em;
}

hr {
  width: 12rem;
  height: 4px;
  margin-right: auto;
  margin-left: auto;
  background-color: #0c023f;
}

a:hover {
  -webkit-text-decoration-color: #0c023f;
          text-decoration-color: #0c023f;
}

#app {
  padding: 0;
}

.block {
  width: 100%;
  padding: 3rem 0;
}

.text-block {
  padding-left: 15%;
  padding-right: 15%;
}
@media (max-width: 575px) {
  .text-block {
    padding-left: 10%;
    padding-right: 10%;
  }
}

.card {
  border: none;
  background-color: inherit;
}

@media (min-width: 575px) {
  .col-left {
    margin-right: 15px;
  }
}

@media (min-width: 575px) {
  .col-right {
    margin-left: 15px;
  }
}

nav {
  background-color: #0c023f;
}

.navbar-brand {
  padding-top: 1rem;
}

.navbar-dark .navbar-toggler {
  color: #f1ba00;
  border: none;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28241, 186, 0, 0.8%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.custom-toggler .navbar-toggler {
  border-color: #f1ba00;
}

@media (min-width: 575px) {
  .nav-link:hover {
    border-bottom: 3px solid #f1ba00;
  }
}
.pane {
  position: fixed;
  top: 90px;
  right: -100%;
  padding: 1rem 2rem;
  height: 9rem;
  width: 100%;
  background: #f1ba00;
  transition: 0.5s all ease;
}
@media (max-width: 575px) {
  .pane.open {
    right: 0%;
  }
}

.banner-block {
  background-color: lightgrey;
  background-image: linear-gradient(to right, rgba(41, 27, 11, 0.593), rgba(41, 27, 11, 0.233)), url(/images/mountain-on-horizon.jpg?54abbd39d1593c286aeba92fc78cb567);
  background-size: cover;
  background-position-y: center;
  height: 300px;
}
@media (max-width: 575px) {
  .banner-block {
    background-size: auto;
    background-position-x: center;
  }
}

.one-column-block {
  background-color: white;
}

.two-column-icon-block {
  background-color: lightgrey;
}

.icon {
  background-color: #0c023f;
  border-radius: 50%;
  height: 50px;
  width: 30px;
}

.img1 {
  background-image: url(/images/boys-on-hill.jpg?887170cc56614b925c885637390ce19f);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 250px;
}

.img2 {
  background-image: url(/images/icon_lockup.png?78dac002db73c7d268fbb61963211fc7);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 100px;
  margin-bottom: 5%;
}

.two-column-block {
  background-color: white;
}

.img3 {
  background-image: url(/images/girl-in-kayak-in-mountain-lake.jpg?28aef65233684be05ce5bb7c4f4ca411);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 250px;
}
